<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="sidebar">
        <div class="logo-container">
            <a href="#"><img src="images/logo.png"/></a>
        </div>
        <ul class="sidebar-item-listing">
            <li>
                <a href="#"><img src="images/home.png"/><span>HOME</span></a>
            </li>
            <li class="selected">
                <a href="#"><img src="images/Video.png"/><span>VIDEOS</span></a>
            </li>
            <li>
                <a href="#"><img src="images/articles.png"/><span>ARTICLES</span></a>
            </li>
            <li>
                <a href="#"><img src="images/folder.png"/><span>SHARED</span></a>
            </li>
            <li>
                <a href="#"><img src="images/star.png"/><span>STARRED</span></a>
            </li>
            <li>
                <a href="#"><img src="images/clock.png"/><span>recent</span></a>
            </li>
        </ul>

        <div class="sidebar-actions-container">
            <div class="siderbar-3-dots">
                <a href="#"><img src="images/more.png"/></a>
            </div>

            
            <div class="siderbar-initals-container">
                r
            </div>
        </div>
    </div>

    <div class="content">

        <div class="content-body">

            <div class="header">
                <div class="search-container">
                    <img src="images/Oval 2.svg"/>
                    <input type="text" placeholder="Super Search"/>
                </div>
                <div class="upload-btn-container">
                    <button class="button button-primary button-large f-14">Upload</button>
                </div>
            </div>

            <div class="folder-container">
                <div class="folder-header">
                    <div class="folder-main">
                        <a href="#">All Folders <img src="images/arrow right.svg"/></a>
                    </div>
                    <div class="folder-actions">
                        <button class="button f-13 ml-16">  New Folder </button>
                        <button class="button f-13 ml-16">  Show All <img src="images/arrow down.svg"/> </button>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row folder-listing">
                        <div class="col-3">
                            <div class="folder">
                                <img src="images/filled-folder.png">
                                <span>MBA</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="folder">
                                <img src="images/filled-folder.png">
                                <span>2020 PLanning</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="folder">
                                <img src="images/filled-folder.png">
                                <span>2020 PLanning</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="folder">
                                <img src="images/filled-folder.png">
                                <span>2020 PLanning</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="folder-listing">
                    
                </div>
            </div>

            <div class="videos-container container-fluid">
                <div class="video-listing row">
                    
                    <div class="col-3">
                        <div class="video-card selected">
                            <div class="image-container">
                                <img src="images/video-1.png"/>
                                <div class="image-actions">
                                    <a href="#" class="check"><img src="images/check.png"/></a>
                                    <a href="#" class="star"><img src="images/Star-btn.png"/></a>
                                    <a class="time">29:16</a>
                                </div>
                            </div>
                            <div class="video-card-contents">
                                <div class="card-title">
                                    Miami Vlog - Going to Garage.mp4
                                </div>
                                <div class="card-description clearfix">
                                    <div class="subtitle">
                                        <span>YouTube</span>
                                        
                                        <div class="card-actions right">
                                            <a href="#" class=""><img src="images/copy-link.png"/></a>
                                            <a href="#" class=""><img src="images/share.png"/></a>
                                            <a href="#" class=""><img src="images/email.svg"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="video-card">
                            <div class="image-container">
                                <img src="images/video-1.png"/>
                                <div class="image-actions">
                                    <a href="#" class="check"><img src="images/unchecked.png"/></a>
                                    <a href="#" class="star"><img src="images/Star-btn.png"/></a>
                                    <a class="time">29:16</a>
                                </div>
                            </div>
                            <div class="video-card-contents">
                                <div class="card-title">
                                    Miami Vlog - Going to Garage.mp4
                                </div>
                                <div class="card-description clearfix">
                                    <div class="subtitle">
                                        <span>YouTube</span>
                                        
                                        <div class="card-actions right">
                                            <a href="#" class=""><img src="images/copy-link.png"/></a>
                                            <a href="#" class=""><img src="images/share.png"/></a>
                                            <a href="#" class=""><img src="images/email.svg"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="video-card">
                            <div class="image-container">
                                <img src="images/video-1.png"/>
                                <div class="image-actions">
                                    <a href="#" class="check"><img src="images/unchecked.png"/></a>
                                    <a href="#" class="star"><img src="images/Star-btn.png"/></a>
                                    <a class="time">29:16</a>
                                </div>
                            </div>
                            <div class="video-card-contents">
                                <div class="card-title">
                                    Miami Vlog - Going to Garage.mp4
                                </div>
                                <div class="card-description clearfix">
                                    <div class="subtitle">
                                        <span>YouTube</span>
                                        
                                        <div class="card-actions right">
                                            <a href="#" class=""><img src="images/copy-link.png"/></a>
                                            <a href="#" class=""><img src="images/share.png"/></a>
                                            <a href="#" class=""><img src="images/email.svg"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="video-card">
                            <div class="image-container">
                                <img src="images/video-1.png"/>
                                <div class="image-actions">
                                    <a href="#" class="check"><img src="images/unchecked.png"/></a>
                                    <a href="#" class="star"><img src="images/Star-btn.png"/></a>
                                    <a class="time">29:16</a>
                                </div>
                            </div>
                            <div class="video-card-contents">
                                <div class="card-title">
                                    Miami Vlog - Going to Garage.mp4
                                </div>
                                <div class="card-description clearfix">
                                    <div class="subtitle">
                                        <span>YouTube</span>
                                        
                                        <div class="card-actions right">
                                            <a href="#" class=""><img src="images/copy-link.png"/></a>
                                            <a href="#" class=""><img src="images/share.png"/></a>
                                            <a href="#" class=""><img src="images/email.svg"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="video-card">
                            <div class="image-container">
                                <img src="images/video-1.png"/>
                                <div class="image-actions">
                                    <a href="#" class="check"><img src="images/unchecked.png"/></a>
                                    <a href="#" class="star"><img src="images/Star-btn.png"/></a>
                                    <a class="time">29:16</a>
                                </div>
                            </div>
                            <div class="video-card-contents">
                                <div class="card-title">
                                    Miami Vlog - Going to Garage.mp4
                                </div>
                                <div class="card-description clearfix">
                                    <div class="subtitle">
                                        <span>YouTube</span>
                                        
                                        <div class="card-actions right">
                                            <a href="#" class=""><img src="images/copy-link.png"/></a>
                                            <a href="#" class=""><img src="images/share.png"/></a>
                                            <a href="#" class=""><img src="images/email.svg"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="video-card">
                            <div class="image-container">
                                <img src="images/video-1.png"/>
                                <div class="image-actions">
                                    <a href="#" class="check"><img src="images/unchecked.png"/></a>
                                    <a href="#" class="star"><img src="images/Star-btn.png"/></a>
                                    <a class="time">29:16</a>
                                </div>
                            </div>
                            <div class="video-card-contents">
                                <div class="card-title">
                                    Miami Vlog - Going to Garage.mp4
                                </div>
                                <div class="card-description clearfix">
                                    <div class="subtitle">
                                        <span>YouTube</span>
                                        
                                        <div class="card-actions right">
                                            <a href="#" class=""><img src="images/copy-link.png"/></a>
                                            <a href="#" class=""><img src="images/share.png"/></a>
                                            <a href="#" class=""><img src="images/email.svg"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="video-card">
                            <div class="image-container">
                                <img src="images/video-1.png"/>
                                <div class="image-actions">
                                    <a href="#" class="check"><img src="images/unchecked.png"/></a>
                                    <a href="#" class="star"><img src="images/Star-btn.png"/></a>
                                    <a class="time">29:16</a>
                                </div>
                            </div>
                            <div class="video-card-contents">
                                <div class="card-title">
                                    Miami Vlog - Going to Garage.mp4
                                </div>
                                <div class="card-description clearfix">
                                    <div class="subtitle">
                                        <span>YouTube</span>
                                        
                                        <div class="card-actions right">
                                            <a href="#" class=""><img src="images/copy-link.png"/></a>
                                            <a href="#" class=""><img src="images/share.png"/></a>
                                            <a href="#" class=""><img src="images/email.svg"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="video-card">
                            <div class="image-container">
                                <img src="images/video-1.png"/>
                                <div class="image-actions">
                                    <a href="#" class="check"><img src="images/unchecked.png"/></a>
                                    <a href="#" class="star"><img src="images/Star-btn.png"/></a>
                                    <a class="time">29:16</a>
                                </div>
                            </div>
                            <div class="video-card-contents">
                                <div class="card-title">
                                    Miami Vlog - Going to Garage.mp4
                                </div>
                                <div class="card-description clearfix">
                                    <div class="subtitle">
                                        <span>YouTube</span>
                                        
                                        <div class="card-actions right">
                                            <a href="#" class=""><img src="images/copy-link.png"/></a>
                                            <a href="#" class=""><img src="images/share.png"/></a>
                                            <a href="#" class=""><img src="images/email.svg"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        

    </div>

</body>
</html>